In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
# data = pd.read_csv('Dpt75depuis2000.csv')

url = 'https://raw.githubusercontent.com/SachaBenedetti/SachaBenedetti/main/Dpt75depuis2000.csv'
fields = ["id","sexe","preusuel","annais","dpt","nombre"];

data = pd.read_csv(url, sep=";", names=fields, encoding = "ISO-8859-1").iloc[1:, 1:]

df = pd.DataFrame(data)
datakeys = df.keys();
print(datakeys)
df

Index(['sexe', 'preusuel', 'annais', 'dpt', 'nombre'], dtype='object')

      sexe        preusuel annais dpt nombre
1        1  _PRENOMS_RARES   2000  75   1264
2        1  _PRENOMS_RARES   2001  75   1360
3        1  _PRENOMS_RARES   2002  75   1399
4        1  _PRENOMS_RARES   2003  75   1350
5        1  _PRENOMS_RARES   2004  75   1471
...    ...             ...    ...  ..    ...
41148    2         ZUZANNA   2009  75      6
41149    2         ZUZANNA   2010  75      3
41150    2         ZUZANNA   2013  75      3
41151    2         ZUZANNA   2015  75      4
41152    2         ZUZANNA   2018  75      4

[41152 rows x 5 columns]

In [30]:
# data.shape
# data.columns
data.head

(41152, 5)